/* Global */
:root {
    /* Color */
    --color-dark-white: #bdbdbd;
    --color-black: #070302;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-black: #070302;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
}




body {
    font-family: "Arial Rounded MT Bold";
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-dark-white);
}


button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0;
}

/* 1. Navbar 정렬 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 30px;
    border-bottom: 1px solid var(--color-light-grey);
    background-color: var(--color-black);
}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    display: flex;
    align-items: center;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    color: var(--color-dark-white);

}

/* 2.toggle btn */
.navbar__toggle-btn {
    position: absolute;
    right: 32px;
    top: 24px;
    font-size: 24px;
    display: none;
}

#word1 {
    display: flex;
    font-size: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}#word2 {
    display: flex;
    font-size: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}#word3 {
    display: flex;
    font-size: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;


}
.box {
    width: 150px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
#box1 {
    margin-right: 150px;
    margin-top: 100px;
}

#box2 {
    margin-top: 100px;
}
#box3 {
    margin-left: 150px;
    margin-top: 100px;
}

.call {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;

}
#btn {
    font-size: 50px;
}

@media screen and (max-width:768px)  {
    .boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #box1 {
        margin-bottom: 20px;
        margin-right: 0px;
    }

    #box2 {
        margin-bottom: 20px;

    }
    #box3 {
        margin-left: 0px;

    }
}
